body{
    font-family: Arial, sans-serif;
    font-size: 11pt;
    margin-left: 2em;
    margin-right: 2em;
}

h1, h2{
    color: teal;
}

label{
    float: left;
    width: 6em;
    margin-bottom: 0.5em;
    font-weight: bold;
}

input[type="text, email"]{
    width: 15em;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}

br{
    clear:both;
}
